* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #092526;
  font-family: 'Roboto';
  font-weight: normal;
  position: relative;
  margin: 0;
  width: auto;
  height: 100vh;
  text-align: center;
  font-style: normal;
}

main {
  position:absolute;
  top: 50vh;
  right: 0;
  left:0;
}

header {
  width: 100vw;
  text-align: center;
  overflow:hidden;
}
#home-img {
  width: 200%;
  transform: translate(-26%,0);
}

#titleText {
  color: #5A5A5A;
  font-style: italic;
  font-size: 5em;
  text-align: center;
  margin: 0;
}

#titleBox {
  /* Rectangle 2 */
  background: white;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 107px;
  width: 410px;
  margin: 0 auto;
}

/* Single player button */

.home_buttons {
  border: none;
  border-radius: 5px;
  background-color: #092526;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  font-size: 1.5em;
  height: 65px;
  margin: 0;
  transition: 0.2s ease all;
  width: 70vw;
}

.home_buttons:hover {
  cursor: pointer;
  transition: 0.3s ease all;
}

.roomBtn {
  border: none;
  background-color: #092526;
  border-radius: 5px;
  height: 40px;
  font-family: sans-serif;
  font-size: 1em;
}

#createRoom {
  border: 2px solid #00e1ff;
  color: #00e1ff;
  display: none;
  grid-area: create;
  transition: 0.3s ease all;
}

#createRoom:hover {
  background: #00e1ff;
  color: #092526;
  cursor: pointer;
  transition: 0.3s ease all;
}

#joinRoom {
  border: 2px solid #95e71f;
  color: #95e71f;
  display: none;
  grid-area: join;
  transition: 0.3s ease all;
}

#joinRoom:hover {
  background: #95e71f;
  color: #092526;
  cursor: pointer;
  transition: 0.3s ease all;
}

#roomCode {
  background-color: #165052;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
  display: none;
  height: 30px;
  grid-area: roomcode;
  font-size: 1.3em;
  font-family: sans-serif;
  padding: 2px 8px;
  margin: 0px auto 2rem auto;
  max-width: 230px;
  width: 28vw;
}

#singlePlayer {
  border: 2px solid rgb(255, 117, 214);
  color: rgb(255, 117, 214);
}

#singlePlayer:hover {
  background: rgb(255, 117, 214);
  color: #092526;
  transition: 0.3s ease all;
}

#multiplayer {
  background: none;
  border: 2px solid white;
  color: white;
  display: none;
  grid-area: multiplayer;
  justify-self: center;
  margin-top: 20px;
}

#multiplayer:hover {
  background: white;
  color: #092526;
  transition: 0.3 ease all;
}

#multiplayerForm {
  column-gap: 20px;
  display: grid;
  grid-template-areas:
  'multiplayer multiplayer'
  'create join'
  'empty roomcode';
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  margin: 0 auto;
  max-width: 70vw;
  width: 100%; 
}

@media only screen and (min-width: 400px) {
  .roomBtn {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 500px) {
  .roomBtn {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 700px) {
  #home-img {
    width: 100%;
    transform: translate(0,0);
  }
  #multiplayerForm {
    max-width: 50vw;
  }
  main {
    top: 40vh;
  }
  .home_buttons {
    width: 50vw;
    font-size: 2em;
  }
  .roomBtn {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    top:70vh;
  }
}
